client/node_modules/
server/node_modules/
client/dist/
server/dist/

client/build/

*.log

client/pnpm-debug.log
server/pnpm-debug.log
client/pnpm-error.log
server/pnpm-error.log

client/.env
server/.env
.env

.DS_Store
Thumbs.db

.vscode/
.idea/
